h1 {
    color: white;
    font-size: x-large;
    text-align: center;
    font-family: Montserrat;
}

#title {
    background-color: #067A46;
    padding: 2%;
    margin: auto;
}

#main {
    margin: auto;
}